# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\DKE\Courses\Year 3\Period 4\Intelligent Systems\Labs\Evolutionary Programming\IDE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
